# Supabase Backend Configuration
# Ganti dengan Project URL dan Anon Key dari Supabase Project Anda
VITE_SUPABASE_URL=https://jaqvxcnrqodumydeqlao.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcXZ4Y25ycW9kdW15ZGVxbGFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NDQ2ODUsImV4cCI6MjEwNTQyMDY4NX0.mwQ82XT2oz4NQAld6RuXaOBiePydEFaooOq8s7_ZMEo
